rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /submissions/{id} {
      allow read, write: if true;
    }
    match /photos/{id} {
      allow read, write: if true;
    }
  }
}
